<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users System</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <ul>
        <li><a href="/views/index.html">Leaderboard</a></li>
        <li><a href="/views/level.html">show level</a></li>
         <li><a href="/views/login.html">login</a></li>
      </ul>
    </header>
    <h1>Levels</h1>
    <div id="data"></div>

    <script>
      fetch("http://localhost:8080/levels/")
        .then((response) => response.json())
        .then((data) => {
          const dataDiv = document.getElementById("data");
          data.levels.forEach((level) => {
            fetch(`http://localhost:8080/levels/Items/${level._id}`)
              .then((response) => response.json())
              .then((data) => {
                dataDiv.innerHTML += `<p>name : ${level.name} </p>`;
                data.items.forEach((item) => {
                  dataDiv.innerHTML += `<p>name : ${item.name} , goal : ${item.goal} ,score : ${item.score} </p>`;
                });
              });
          });
        })
        .catch((error) => console.error(error)); // Log any errors to the console
    </script>
  </body>
</html>
